{% extends 'main.html' %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <div class="form-format">
            <div class="form-title">Suggest a Move.</div>
            <form method="POST" action="" class="">
                {% csrf_token %}
                <div class="form-group">
                    <label>What's the venue called?</label>
                    <input type="text" list = 'venues' placeholder="Venues" name="venue">
                    <datalist id="venues">
                         {% for venue in venues %}
                            <option value="{{venue.name|title}}">{{venue.name|title}}</option>
                         {% endfor %}
                    </datalist>
                    <input type="hidden" value="{{post.id}}" name="pk">
                </div>
         

                
                <input type="submit" value="Search" class="choice-button max-width" />
            </form>
        </div>
       
           
    </div>
    
</div>


{% endblock %}